body {
    width: 100%;
    height: 100vh;
}

div.register_card {
    width: 30%;
    min-width: 500px;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
}

div.forget_card {
    width: 30%;
    min-width: 500px;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
}

div.recover_password_card {
    width: 30%;
    min-width: 500px;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
}

div.login_card {
    width: 30%;
    min-width: 500px;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
}

@media (max-width: 1000px) {
    
    div.register_card,
    div.forget_card,
    div.recover_password_card,
    div.login_card {
        width: 60%;
        height: auto;
        min-width: unset;
        box-shadow: none;
    }
}

@media (max-width: 800px) {

    div.register_card,
    div.forget_card,
    div.recover_password_card,
    div.login_card {
        width: 100%;
    }
}

div.card_header {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--gray_color_light_01);
}

div.card_header i {
    font-size: 3rem;
}

div.card_header span {
    font-size: .9rem;
    margin-left: 5px;
}

div.card_header::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0;
    background-color: var(--light_color_dark_01);
}

div.card_body {
    display: flex;
    flex-direction: column;
}

div.card_body form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

div.card_body form div.form_item {
    width:45%;
    margin-bottom: 20px;
}

div.card_body form input {
    width: 100%;
    height: 30px;
}

div.card_body form button {
    width:45%;
    height: 40px;
    font-size: .9rem;
    color: var(--light_color_dark);
    background-color: var(--green_color_dark);
}

@media (max-width: 1000px) {

    div.card_body form div.form_item {
        width: 70%;
    }

    div.card_body form input {
        height: 50px;
    }

    div.card_body form button {
        width: 70%;
        height: 50px;
    }

    div.card_body form input,
    div.card_body form button {
        border-radius: 5px;
    }
}

div.card_body div.button_link_container {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: .9rem;
    color: var(--gray_color);
}

div.card_body a.button_link{
    font-size: .9rem;
    color: var(--gray_color);
}

div.card_body a.button_link:hover {
    text-decoration: underline;
}

div.card_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: var(--gray_color_light_01);
}