@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[centralize] {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --base_width: 800px;
}

header.main_header {
    width: var(--base_width);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ececec;
}

header.main_header div.main_header_logo {
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--gray_color_light_01);
}

header.main_header div.main_header_logo i {
    font-size: 3rem;
}

header.main_header div.main_header_actions {
    display: flex;
    align-items: center;
}

div.main_header_actions a.add_note_button {
    padding: 5px 10px;
    margin-right: 5px;
    color: var(--light_color);
    background-color: var(--green_color);
}

div.main_header_actions a.add_note_button:hover {
    transition: all linear .4s;
    background-color: var(--green_color_dark);
}

div.main_header_actions div.profile {
    position: relative;
}

div.profile i {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--gray_color);
}

div.profile nav.profile_dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0, .5);
    z-index: 1000;
    background-color: var(--light_color);
}

div.profile nav.profile_dropdown a {
    padding: 5px 10px;
    color: var(--gray_color_light);
}

div.profile nav.profile_dropdown a:hover {
    color: var(--gray_color);
}

div.profile nav.profile_dropdown.show {
    display: flex;
}

div.notes {
    width: var(--base_width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 10px;
}

div.notes a.notes_item {
    position: relative;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0, .5);
}

div.notes a.notes_item:hover {
    background-color: var(--light_color_dark);
}

div.notes_item_content {
    padding: 5px 10px 0 10px;
    color: var(--gray_color_light);
    /* z-index: 10; */
}

div.notes_item_title {
    position: absolute;
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 0 5px;
    color: var(--light_color);
    background-color: rgba(179, 170, 170, 0.9);
    /* z-index: 100; */
}

div.modal_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .4);
}

div.modal_container.modal_show {
    display: flex;
}

div.modal_container div.modal_body {
    position: relative;
}

div.modal_add_note {
    width: 500px;
    min-width: 300px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--light_color);
}

div.modal_add_note form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.modal_add_note form input {
    width: 100%;
    height: 35px;
    border: none;
    font-size: 1rem;
}

div.modal_add_note form textarea {
    resize: none;
    width: 100%;
    height: calc(90% - 35px);
    border: none;
    font-size: .9rem;
}

div.modal_add_note form div.modal_add_note_actions {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    border-top: 1px solid var(--gray_color_light_03);
}

div.modal_add_note form button {
    font-size: 1.2rem;
    color: var(--gray_color_light);
}