.message {
    font-size: .8rem;
    color: #004085;
}

.message.lowlight-error {
    color: #721c24;
}

.message.highlight-error,
.message.highlight-success,
.message.highlight-warning {
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
}

.message.highlight-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.message.highlight-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.message.highlight-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}